<!DOCTYPE html>
<html>
<head>
    <title>OpenAI Assistant</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="chat-container">        
        <div id="thread-history">
            <h3>Entretiens (historique de conversation)</h3>
            <div id="messages-container"></div>
        </div>
        <!-- <div id="thread-id">Thread ID: None</div> -->
        <textarea id="user-input" placeholder="Décrivez la persona avec laquelle vous voulez discuter (e.g : Martin, 22 ans, passionné d'escalade et de pêche à la mouche...)"></textarea>
        <div id="button-container">
            <button id="new-thread-btn">Nouvelle discussion</button>
            <button id="send-btn">Envoyer</button>
            <button id="voice-input-btn">🎤</button>
            <input type="file" id="file-input" multiple style="display: none;" />
            <label for="file-input" id="file-input-label">📂 0 Fichiers</label>
        </div>        
        <div id="logs"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
